@model ListAssetViewModel

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@{
    ViewData["Title"] = "Assets";
}


<h2 class="pull-left">@ViewData["Title"]</h2>
<br/>


<form class="form-horizontal pull-right" style="width:100%" asp-controller="Home" asp-action="Index" method="get">
    <div class="form-group col-md-3">
        <input class="form-control" type="text" name="query" value="@Model.query" placeholder="Search here">
    </div>
    <div class="form-group col-md-2">
        <button class="btn btn-primary" type="submit">Search</button>
    </div>
    <div class="clearfix"></div>
</form>
<div class="clearfix"></div>
<br/><br/>
@if (Model.Assets.Count() > 0)
{
    <table class="table table-condensed">
        <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Tags</th>
            <th>Created At</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var asset in Model.Assets)
        {
            <tr>
                <td>@asset.Name</td>
                <td>@asset.Type</td>
                <td>@asset.Tags</td>
                <td>@asset.CreatedAt</td>
                <td>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <a asp-controller="Asset" asp-action="Download" asp-route-id="@asset.Id" class="btn btn-warning btn-xs">Download</a>
                    }
                    else
                    {
                        <a asp-controller="Home" asp-action="Download" asp-route-id="@asset.Id" class="btn btn-warning btn-xs">Download</a>
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <p>No asset found</p>
}
